
body {
	font-family: 'Anonymous Pro', monospace;
	background-color: #002833;
	padding-top: 70px;
	padding-bottom: 20px;
}

/*NAVBAR*/

.navbar-default {
	background-color: #001C23;
	border-bottom: 3px solid #00161C;
	box-sizing: content-box;
}

.navbar-default .navbar-brand {
	color: #B6FF00;
	font-size: 1.4em;
	margin-left: 15px;
}

#homeLink {
	transition: text-shadow .5s, color .5s;
	transition-timing-function: ease-out;
}

#homeLink:hover, #homeLink:focus, #homeLink:active {
	color: #FAFF00;
	text-shadow: #FAFF00 0 0 7px;
}

#titleText {
	color: #7AABFF;
	margin-bottom: 3px;
}

#supC {
	vertical-align: 11%;
	letter-spacing: 1px;
}

#mAlign {
	letter-spacing: 1px;
}

#blockChar {
	font-size: 1.1em;
	margin-bottom: 5px;
	color: lightgray;
}

.navIcon {
	color: #B6FF00;
	font-size: 1.8em;
	/*margin-left: 10px;*/
	float: right;
	margin-bottom: 7px;
	margin-right: 12px;
	transition: text-shadow .5s, color .5s;
	transition-timing-function: ease-out;
}

.navIcon:hover, .navIcon:focus, .navIcon:active {
	color: #FAFF00;
	text-shadow: #FAFF00 0 0 7px;
}

.fa-bars {
	font-size: 2em;
	margin-right: 0;
}

.navbar-toggler-icon {
	color: #B6FF00;
	font-size: .7em;
	margin-bottom: 5px;
	transition: text-shadow .5s, color .5s;
	transition-timing-function: ease-out;
}

.navbar-toggler:focus {
	outline-style: none;
}

.navbar-toggler:focus .fa-bars {
	color: #FAFF00;
	text-shadow: #FAFF00 0 0 7px;
}

/*CONTENT*/

.postContainer {
	border: 3px solid #00161C;
}

.container-fluid {
	background-color: #00242D;
	margin-top: 15px;
}

div.row.container-fluid {
	margin-right: 0;
	margin-left: 0;
}

h1.postTitle {
	display: inline-block;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	color: #B6FF00;
	font-size: 2em;
	text-shadow: #000 0 0 4px;
 }

h1.postDate {
	display: inline-block;
	float: right;
	margin-right: 5px;
	margin-top: 10px;
	color: #B6FF00;
	font-size: 2em;
	text-shadow: #000 0 0 4px;
}

.thumbContainer {
	margin-bottom: 10px;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	border: 3px solid #00161C;
}

.textContainer {
	margin-top: 15px;
}

.postContent {
	color: #7AABFF;
	padding-left: 5px;
}


/*FORM*/

span.input-group-text {
	background-color: #001C23;
}

input.form-control, textarea.form-control {
	background-color: #00242D;
	color: #00161C;
}

.formIcon {
	color: #B6FF00;
}

input::placeholder, textarea::placeholder {
	color: #002833;
}