RewriteEngine on
RewriteCond %{HTTP_HOST} ^codingchronicle.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.codingchronicle.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://codingchronicle.com/$1 [L]