
body {
	font-family: 'Anonymous Pro', monospace;
	background-color: #002833;
}

/*NAVBAR*/

.navbar-default {
	background-color: #00242D;
	border-bottom: 3px solid #00161C;
	box-sizing: content-box;
}

.navbar-default .navbar-brand {
	color: #B6FF00;
	font-size: 1.4em;
	margin-left: 15px;
	margin-bottom: 3px;
}

#homeLink {
	transition: text-shadow .5s, color .5s;
	transition-timing-function: ease-out;
}

#homeLink:hover, #homeLink:focus, #homeLink:active {
	color: #FAFF00;
	text-shadow: #FAFF00 0px 0px 7px;
}

#titleText {
	color: #7AABFF;
	margin-bottom: 3px;
}

#supC {
	vertical-align: 11%;
	letter-spacing: 1px;
}

#mAlign {
	letter-spacing: 1px;
}

#blockChar {
	font-size: 1.1em;
	margin-bottom: 5px;
	color: lightgray;
}

.fas, .fab {
	color: #B6FF00;
	font-size: 2em;
	/*margin-left: 10px;*/
	float: right;
	margin-bottom: 10px;
	margin-right: 11px;
	transition: text-shadow .5s, color .5s;
	transition-timing-function: ease-out;
}

.fas:hover, .fab:hover, .fas:focus, .fab:focus, .fas:active, .fab:active {
	color: #FAFF00;
	text-shadow: #FAFF00 0px 0px 7px;
}

.fa-bars {
	margin-right: 0px;
}

.navbar-toggler-icon {
	color: #B6FF00;
	font-size: .7em;
	margin-bottom: 5px;
	transition: text-shadow .5s, color .5s;
	transition-timing-function: ease-out;
}

.navbar-toggler:focus {
	outline-style: none;
}

#FF4300 ORANGERED